html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~Styling starts here~~~~~*/
*{
    border: 1px solid black;
}
body {    
background-color: #6D6875;
}
header {
    background-color: #FFCDB2;
    background: linear-gradient(to bottom, #FFCDB2 0%, #FFB4A2 100%);
    padding-bottom: 1%;
}
div .header-icon {    
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 1 38%;
}
nav{    
    text-align: center;
}
nav .links {
    display: flex;
    justify-content: space-between;
    margin: 0 25%;
    text-align: center;
    font-size: 1.5rem;
}
.title-section {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-image: url('images/jeremy-bishop-QHZn3-0bbEM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.photo-section {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 10%;
    width: 80%;
    height: 700px;
    text-align: center;
    background-color: #B5838D;
    background: linear-gradient(to bottom, #FFB4A2 0%, #E5989B 50%, #B5838D 100%);
    
}
.photoGrid {
    display: flex;
    flex-wrap: wrap;
    width: 21%;
    justify-content: center;
    margin: 1% auto;
}
.photoGrid img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    background-color: #B5838D;
    background: linear-gradient(to top, #B5838D 0%, #E5989B 100%);
}
.footer-div {
    height: 4vh;
    width: 15%;
    padding-top: 2%;
}
